Windows/MathMenu.dll - Kopi/MathMenu/Web References/com.eduap.WordMat/wordmat.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.eduap.com" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://www.eduap.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.eduap.com">
      <s:element name="Version">
        <s:complexType />
      </s:element>
      <s:element name="VersionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="VersionResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="News">
        <s:complexType />
      </s:element>
      <s:element name="NewsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="NewsResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="VersionSoapIn">
    <wsdl:part name="parameters" element="tns:Version" />
  </wsdl:message>
  <wsdl:message name="VersionSoapOut">
    <wsdl:part name="parameters" element="tns:VersionResponse" />
  </wsdl:message>
  <wsdl:message name="NewsSoapIn">
    <wsdl:part name="parameters" element="tns:News" />
  </wsdl:message>
  <wsdl:message name="NewsSoapOut">
    <wsdl:part name="parameters" element="tns:NewsResponse" />
  </wsdl:message>
  <wsdl:portType name="WebServiceWordMatSoap">
    <wsdl:operation name="Version">
      <wsdl:input message="tns:VersionSoapIn" />
      <wsdl:output message="tns:VersionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="News">
      <wsdl:input message="tns:NewsSoapIn" />
      <wsdl:output message="tns:NewsSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebServiceWordMatSoap" type="tns:WebServiceWordMatSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Version">
      <soap:operation soapAction="http://www.eduap.com/Version" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="News">
      <soap:operation soapAction="http://www.eduap.com/News" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceWordMatSoap12" type="tns:WebServiceWordMatSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Version">
      <soap12:operation soapAction="http://www.eduap.com/Version" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="News">
      <soap12:operation soapAction="http://www.eduap.com/News" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebServiceWordMat">
    <wsdl:port name="WebServiceWordMatSoap" binding="tns:WebServiceWordMatSoap">
      <soap:address location="http://www.eduap.com/webservice/wordmat.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceWordMatSoap12" binding="tns:WebServiceWordMatSoap12">
      <soap12:address location="http://www.eduap.com/webservice/wordmat.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>